VITE_FIREBASE_API_KEY=AIzaSyCM_xBkgYuL_NwarIPCXdYTQ3kmWpq2RsA
VITE_FIREBASE_AUTH_DOMAIN=tokiwa-template.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=tokiwa-template
VITE_FIREBASE_STORAGE_BUCKET=tokiwa-template.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=810433730446
VITE_FIREBASE_APP_ID=1:810433730446:web:9c1798ccabd05b83e136df
VITE_FIREBASE_MEASUREMENT_ID=G-6MMMCGFVBP
VITE_USE_EMULATOR=false