rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return isSignedIn() && request.auth.token.get('a', false) == true;
    }

    function isSignedInUser(uid) {
      return isSignedIn() && uid == request.auth.uid;
    }

    function hasProjectRole(projectId, roleClaims) {
      return isSignedIn() &&
        request.auth.token.get(['p', 'projects'], []).hasAny([projectId].concat(roleClaims));
    }

    function isOwner(projectId) {
      return hasProjectRole(projectId, [projectId + ':o']);
    }

    function isManager(projectId) {
      return hasProjectRole(projectId, [projectId + ':o', projectId + ':m']);
    }

    function isWriter(projectId) {
      return hasProjectRole(projectId, [projectId + ':o', projectId + ':m', projectId + ':w']);
    }

    function isReader(projectId) {
      return hasProjectRole(projectId, [
        projectId + ':o',
        projectId + ':m',
        projectId + ':w',
        projectId + ':r'
      ]);
    }

    function isActive(meta) {
      return meta.active == 'true';
    }

    function isWithinDateRange(meta) {
      let now = request.time.toMillis() / 1000;
      let hasBeginDate = 'beginDate' in meta;
      let hasEndDate = 'endDate' in meta;
      let beginOk = !hasBeginDate || int(meta.beginDate) <= now;
      let endOk = !hasEndDate || now <= int(meta.endDate);
      return beginOk && endOk;
    }

    function hasAccess(meta) {
      return isActive(meta) && isWithinDateRange(meta);
    }

    match /users/{uid}/avatar/{filename} {
      allow get: if true;
      allow list: if isSignedInUser(uid);
      allow write: if isSignedInUser(uid);
    }

    match /projects/{pid} {
      allow read: if isWriter(pid);
      allow update: if isManager(pid);
      allow delete: if isOwner(pid);

      match /{allPaths=**} {
        allow read: if isReader(pid) && hasAccess(resource.metadata);
        allow write: if isManager(pid);
      }
    }

    match /{document=**} {
      allow read, write: if isAdmin();
    }
  }
}
